<h1>Listado de Tareas</h1>
<%= link_to 'Agregar tarea', new_task_path, id:"new_link", remote: true %>
<h2>Tareas Pendientes</h2>
<div id="incompleted_tasks">
  <%= render(@tasksIncompleted) %>
</div>
<h2>Tareas Finalizadas</h2>
<div id="completed_tasks">
  <%= render(@tasksCompleted) %>
</div>
